In [1]:
import pandas as pd

In [25]:
df = pd.read_csv('./Top2000CompaniesGlobally.csv')
df

,Global Rank,Company,Sales ($billion),Profits ($billion),Assets ($billion),Market Value ($billion),Country,Continent,Latitude,Longitude
0,1,ICBC,134.8,37.8,2813.5,237.3,China,Asia,35.861660,104.195397
1,2,China Construction Bank,113.1,30.6,2241.0,202.0,China,Asia,35.861660,104.195397
2,3,JPMorgan Chase,108.2,21.3,2359.1,191.4,USA,North America,37.090240,-95.712891
3,4,General Electric,147.4,13.6,685.3,243.7,USA,North America,37.090240,-95.712891
4,5,Exxon Mobil,420.7,44.9,333.8,400.4,USA,North America,37.090240,-95.712891
...,...,...,...,...,...,...,...,...,...,...
1919,1995,Tractor Supply,4.7,0.3,1.7,7.1,USA,North America,37.090240,-95.712891
1920,1996,San-Ai Oil,0.5,0.1,25.7,0.5,Japan,Asia,36.204824,138.252924
1921,1996,UOL Group,0.9,0.7,7.8,4.2,Singapore,Asia,1.352083,103.819836
1922,1998,Interconexion Electrica,2.4,0.2,14.6,5.8,Colombia,South America,4.570868,-74.297333
1923,1999,Old Republic International,5.0,-0.1,16.2,3.3,USA,North America,37.090240,-95.712891

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1924 entries, 0 to 1923
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Global Rank              1924 non-null   int64
 1   Company                  1924 non-null   object
 2   Sales ($billion)         1924 non-null   float64
 3   Profits ($billion)       1924 non-null   float64
 4   Assets ($billion)        1924 non-null   float64
 5   Market Value ($billion)  1924 non-null   float64
 6   Country                  1924 non-null   object
 7   Continent                1924 non-null   object
 8   Latitude                 1924 non-null   float64
 9   Longitude                1924 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 150.4+ KB

In [8]:
df.columns

Index(['Global Rank', 'Company', 'Sales ($billion)', 'Profits ($billion)',
       'Assets ($billion)', 'Market Value ($billion)', 'Country', 'Continent',
       'Latitude', 'Longitude'],
      dtype='object')

In [9]:
df = df.drop(columns=['Latitude','Longitude'],axis=1)
df

,Global Rank,Company,Sales ($billion),Profits ($billion),Assets ($billion),Market Value ($billion),Country,Continent
0,1,ICBC,134.8,37.8,2813.5,237.3,China,Asia
1,2,China Construction Bank,113.1,30.6,2241.0,202.0,China,Asia
2,3,JPMorgan Chase,108.2,21.3,2359.1,191.4,USA,North America
3,4,General Electric,147.4,13.6,685.3,243.7,USA,North America
4,5,Exxon Mobil,420.7,44.9,333.8,400.4,USA,North America
...,...,...,...,...,...,...,...,...
1919,1995,Tractor Supply,4.7,0.3,1.7,7.1,USA,North America
1920,1996,San-Ai Oil,0.5,0.1,25.7,0.5,Japan,Asia
1921,1996,UOL Group,0.9,0.7,7.8,4.2,Singapore,Asia
1922,1998,Interconexion Electrica,2.4,0.2,14.6,5.8,Colombia,South America
1923,1999,Old Republic International,5.0,-0.1,16.2,3.3,USA,North America

In [10]:
df.loc[df['Country'] == 'China']

,Global Rank,Company,Sales ($billion),Profits ($billion),Assets ($billion),Market Value ($billion),Country,Continent
0,1,ICBC,134.8,37.8,2813.5,237.3,China,Asia
1,2,China Construction Bank,113.1,30.6,2241.0,202.0,China,Asia
7,8,Agricultural Bank of China,103.0,23.0,2124.2,150.8,China,Asia
8,9,PetroChina,308.9,18.3,347.8,261.2,China,Asia
10,11,Bank of China,98.1,22.1,2033.8,131.7,China,Asia
...,...,...,...,...,...,...,...,...
1801,1866,Qinghai Salt Lake,15.2,0.4,4.7,6.8,China,Asia
1838,1906,Inner Mongolia Baotou Steel,6.8,0.1,7.9,6.4,China,Asia
1847,1916,Shanghai Material Trading,12.8,0.0,1.5,0.3,China,Asia
1871,1944,Tongling Nonferrous Metals,12.2,0.1,5.9,3.9,China,Asia
1874,1948,Hikvision,0.8,0.2,1.3,12.3,China,Asia

In [15]:
print(pd.__version__)

2.0.3

In [16]:
import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [58]:
import pandas as pd

df = pd.read_csv('./Canada_per_capita_income (1).csv')

print(df.to_string())

    year        income
0   1970   3399.299037
1   1971   3768.297935
2   1972   4251.175484
3   1973   4804.463248
4   1974   5576.514583
5   1975   5998.144346
6   1976   7062.131392
7   1977   7100.126170
8   1978   7247.967035
9   1979   7602.912681
10  1980   8355.968120
11  1981   9434.390652
12  1982   9619.438377
13  1983  10416.536590
14  1984  10790.328720
15  1985  11018.955850
16  1986  11482.891530
17  1987  12974.806620
18  1988  15080.283450
19  1989  16426.725480
20  1990  16838.673200
21  1991  17266.097690
22  1992  16412.083090
23  1993  15875.586730
24  1994  15755.820270
25  1995  16369.317250
26  1996  16699.826680
27  1997  17310.757750
28  1998  16622.671870
29  1999  17581.024140
30  2000  18987.382410
31  2001  18601.397240
32  2002  19232.175560
33  2003  22739.426280
34  2004  25719.147150
35  2005  29198.055690
36  2006  32738.262900
37  2007  36144.481220
38  2008  37446.486090
39  2009  32755.176820
40  2010  38420.522890
41  2011  42334.711210
42  2012  42665.255970
43  2013  42676.468370
44  2014  41039.893600
45  2015  35175.188980
46  2016  34229.193630

In [27]:
df.info

<bound method DataFrame.info of     year        income
0   1970   3399.299037
1   1971   3768.297935
2   1972   4251.175484
3   1973   4804.463248
4   1974   5576.514583
5   1975   5998.144346
6   1976   7062.131392
7   1977   7100.126170
8   1978   7247.967035
9   1979   7602.912681
10  1980   8355.968120
11  1981   9434.390652
12  1982   9619.438377
13  1983  10416.536590
14  1984  10790.328720
15  1985  11018.955850
16  1986  11482.891530
17  1987  12974.806620
18  1988  15080.283450
19  1989  16426.725480
20  1990  16838.673200
21  1991  17266.097690
22  1992  16412.083090
23  1993  15875.586730
24  1994  15755.820270
25  1995  16369.317250
26  1996  16699.826680
27  1997  17310.757750
28  1998  16622.671870
29  1999  17581.024140
30  2000  18987.382410
31  2001  18601.397240
32  2002  19232.175560
33  2003  22739.426280
34  2004  25719.147150
35  2005  29198.055690
36  2006  32738.262900
37  2007  36144.481220
38  2008  37446.486090
39  2009  32755.176820
40  2010  38420.522890
41  2011  42334.711210
42  2012  42665.255970
43  2013  42676.468370
44  2014  41039.893600
45  2015  35175.188980
46  2016  34229.193630>

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    47 non-null     int64
 1   income  47 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 884.0 bytes

In [37]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [49]:
import pandas as pd

student_detail= {
    'Name': ["Shubham","Ankur","Gaurav"],
    'Class': [8,10,11]
}
df = pd.DataFrame(student_detail)
print(df.loc[[0,2]])

      Name  Class
0  Shubham      8
2   Gaurav     11

In [57]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df.loc[["day1","day2"]])

      calories  duration
day1       420        50
day2       380        40

In [59]:
import pandas as pd

data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409.1,
    "1":479.0,
    "2":340.0,
    "3":282.4,
    "4":406.0,
    "5":300.5
  }
}

df = pd.DataFrame(data)

print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.5

In [2]:
import pandas as pd

df =pd.read_csv('./Netflix Userbase.csv')

print(df.head(10))

   User ID Subscription Type  Monthly Revenue Join Date Last Payment Date  \
0        1             Basic               10  15-01-22          10-06-23
1        2           Premium               15  05-09-21          22-06-23
2        3          Standard               12  28-02-23          27-06-23
3        4          Standard               12  10-07-22          26-06-23
4        5             Basic               10  01-05-23          28-06-23
5        6           Premium               15  18-03-22          27-06-23
6        7          Standard               12  09-12-21          25-06-23
7        8             Basic               10  02-04-23          24-06-23
8        9          Standard               12  20-10-22          23-06-23
9       10           Premium               15  07-01-23          22-06-23

          Country  Age  Gender      Device Plan Duration
0   United States   28    Male  Smartphone       1 Month
1          Canada   35  Female      Tablet       1 Month
2  United Kingdom   42    Male    Smart TV       1 Month
3       Australia   51  Female      Laptop       1 Month
4         Germany   33    Male  Smartphone       1 Month
5          France   29  Female    Smart TV       1 Month
6          Brazil   46    Male      Tablet       1 Month
7          Mexico   39  Female      Laptop       1 Month
8           Spain   37    Male  Smartphone       1 Month
9           Italy   44  Female    Smart TV       1 Month

In [3]:
import pandas as pd
df = pd.read_csv('./Netflix Userbase.csv')

print(df.loc[0:5])

   User ID Subscription Type  Monthly Revenue Join Date Last Payment Date  \
0        1             Basic               10  15-01-22          10-06-23
1        2           Premium               15  05-09-21          22-06-23
2        3          Standard               12  28-02-23          27-06-23
3        4          Standard               12  10-07-22          26-06-23
4        5             Basic               10  01-05-23          28-06-23
5        6           Premium               15  18-03-22          27-06-23

          Country  Age  Gender      Device Plan Duration
0   United States   28    Male  Smartphone       1 Month
1          Canada   35  Female      Tablet       1 Month
2  United Kingdom   42    Male    Smart TV       1 Month
3       Australia   51  Female      Laptop       1 Month
4         Germany   33    Male  Smartphone       1 Month
5          France   29  Female    Smart TV       1 Month

In [13]:
def my_function(Shubham):
    print(shubham + "Rajput")

    my_function("Shubham Singh"),
    my_function("Aman Singh"),
    my_funtion("Ankur Kumar Mahto")

In [14]:
import numpy

arr = numpy.array([2,3,4,5,6,7,8,9,10])

print(arr)

[ 2  3  4  5  6  7  8  9 10]

In [15]:
import numpy as np

arr = np.array(["Shubham","Ankur","Gaurav"])

print(arr)

['Shubham' 'Ankur' 'Gaurav']

In [19]:
import numpy as np
arr = np.array([2,3,4])

print(arr)

print(type(arr))

[2 3 4]
<class 'numpy.ndarray'>

In [22]:
import numpy as np
arr = np.array(42)

print(arr)

42

In [25]:
import numpy as np

arr = np.array([[1, 2, 3], [4, 5, 6]])

print(arr)

[[1 2 3]
 [4 5 6]]

In [26]:
import numpy as np

arr = np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]])

print(arr)

[[[1 2 3]
  [4 5 6]]

 [[1 2 3]
  [4 5 6]]]

In [27]:
import numpy as np

a = np.array(32)
b = np.array([2,3,4,5,6])
c = np.array([[2,3],[4,6]])
d = np.array([[[2,3],[4,6]],[[7,8],[9,10]]])

print(a.ndim)
print(b.ndim)
print(c.ndim)
print(d.ndim)

0
1
2
3

In [31]:
import numpy as np
arr = np.array([1,2,3,4,5],ndmin=10)
print(arr)
print('Number of dimension:',arr.ndim)

[[[[[[[[[[1 2 3 4 5]]]]]]]]]]
Number of dimension: 10

In [32]:
import numpy as np
arr = np.array([1,2,3,4,5])
print(arr[0])

1

In [33]:
import numpy as np
arr = np.array([1,2,3,4,5])
print(arr[0]+arr[2])

4

In [36]:
import numpy as np
arr = np.array([[1,2,3,4,5],[6,7,8,9,10]])
print('2nd element of first row:',arr[0,2])

2nd element of first row: 3

In [37]:
import numpy as np

arr = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

print(arr[0, 1, 2])

6

In [38]:
import numpy as np

arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])

print('Last element from 2nd dim: ', arr[1, -1])

Last element from 2nd dim:  10

In [39]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[1:5])

[2 3 4 5]

In [41]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[-3:-1])

[5 6]

In [42]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[1:5:2])

[2 4]

In [44]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[::2])

[1 3 5 7]

In [45]:
import numpy as np

arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

print(arr[1, 1:4])

[7 8 9]

In [46]:
import numpy as np

arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

print(arr[0:2, 2])

[3 8]

In [48]:
import numpy as np

arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

print(arr[0:2, 1:4])

[[2 3 4]
 [7 8 9]]

In [51]:
arr.dtype

dtype('int32')

In [57]:
zeros = np.zeros((5,5))

In [58]:
zeros

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [62]:
zeros.shape

(5, 5)

In [63]:
zeros.size

25

In [65]:
zeros.dtype

dtype('float64')

In [69]:
rng= np.arange(15)

In [70]:
rng

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [71]:
import numpy as np
rng = np.arange(100)
print(rng)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95
 96 97 98 99]

In [84]:
arr = np.array([[1,2,3],[4,5,6],[7,1,0]])
print(arr)

[[1 2 3]
 [4 5 6]
 [7 1 0]]

In [87]:
arr.sum(axis=1)

array([ 6, 15,  8])

In [88]:
arr.T

array([[1, 4, 7],
       [2, 5, 1],
       [3, 6, 0]])

In [92]:
arr = arr.sum(axis=0)

29